body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
}